<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cake Shop</title>
    <link rel="stylesheet" href="~/Content/cssHome/StyleHome.css" />
</head>

<body>
    @RenderBody()
    <header>
        <div class="nav-bar">
            <img src="~/image/menu.png" class="icon" alt="Menu" />
            <img src="~/image/search.png" class="icon-search" alt="Search" />
            <div class="search-box">
                <input type="text" placeholder="Search..." />
            </div>
            <div><img src="~/image/filter.png" class="icon-filter" alt="Filter"></div>
            <div class="cart">
                <img src="~/image/shopping-cart.png" class="icon" alt="Cart" />
            </div>
            <div class="login"><button class="login-btn">Log in</button></div>
        </div>
    </header>


    <section class="banner">
        <img src="~/image/banner.png" alt="Sweet Cake Banner" class="banner-img" />
    </section>


    <section class="cake-list">
        <div class="cake-card">
            <img src="~/image/hinh1.jpg" alt="Cake 1" />
            <p>Tên Bánh: Bánh 1<br>Giá: 100.000 VNĐ</p>
        </div>
        <div class="cake-card">
            <img src="~/image/hinh2.jpg" alt="Cake 2" />
            <p>Tên Bánh: Bánh 2<br>Giá: 100.000 VNĐ</p>
        </div>
        <div class="cake-card">
            <img src="~/image/hinh3.jpg" alt="Cake 3" />
            <p>Tên Bánh: Bánh 3<br>Giá: 100.000 VNĐ</p>
        </div>
        <div class="cake-card">
            <img src="~/image/hinh4.jpg" alt="Cake 4" />
            <p>Tên Bánh: Bánh 4<br>Giá: 100.000 VNĐ</p>
        </div>
        <div class="cake-card">
            <img src="~/image/hinh5.jpg" alt="Cake 5" />
            <p>Tên Bánh: Bánh 5<br>Giá: 100.000 VNĐ</p>
        </div>
        <div class="cake-card">
            <img src="~/image/hinh6.jpg" alt="Cake 6" />
            <p>Tên Bánh: Bánh 6<br>Giá: 100.000 VNĐ</p>
        </div>
        <div class="cake-card">
            <img src="~/image/hinh7.jpg" alt="Cake 7" />
            <p>Tên Bánh: Bánh 7<br>Giá: 100.000 VNĐ</p>
        </div>
        <div class="cake-card">
            <img src="~/image/hinh8.jpg" alt="Cake 8" />
            <p>Tên Bánh: Bánh 8<br>Giá: 100.000 VNĐ</p>
        </div>
        <div class="cake-card">
            <img src="~/image/hinh9.jpg" alt="Cake 9" />
            <p>Tên Bánh: Bánh 9<br>Giá: 100.000 VNĐ</p>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-contact">
            <!-- <div>
                <img src="image/birthday-cake.png" class="footer-dec" alt="Cake Icon">
                <img src="image/confetti.png" class="footer-dec">
            </div> -->
            <div class="contact-info">
                <div class="contact-left">
                    <p><img src="~/image/phone-call.png" class="contact-icon"> +012 345 678 90</p>
                    <p><img src="~/image/email.png" class="contact-icon"> abc123@example.com</p>
                </div>
                <div class="contact-right">
                    <p>
                        <img src="~/image/location-pin.png" class="contact-icon"> 742 Evergreen Terrace, Springfield, IL
                        62704,
                        USA
                    </p>
                    <p><img src="~/image/clock.png" class="contact-icon"> 9:00 AM - 10:00 PM</p>
                </div>
            </div>
            <div class="footer-word">
                <p>© 2024 Cake Shop. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <div class="footer-bottom">
        <div class="social-icon">
            <img src="~/image/instagram.png" class="footer-icon">
            <img src="~/image/tik-tok.png" class="footer-icon">
            <img src="~/image/snapchat.png" class="footer-icon">
            <img src="~/image/twitter.png" class="footer-icon">
            <img src="~/image/youtube.png" class="footer-icon">
            <img src="~/image/facebook.png" class="footer-icon">
        </div>
    </div>
</body>

</html>